body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #fff;
  font-size: 3rem;
}

.container-fluid {
  padding: 3% 15%;
}

.rotate {
  transform: rotate(15deg);
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-regular"
}

/* Download Buttons */

.btn {
  font-family: "Montserrat-light", sans-serif;
}

.Download-button {
  margin-top: 3%;
  margin-right: 3%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* features-section */

.features-heading {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

.features-subheading {
  color: #8f8f8f;
  font-family: "Ubuntu";
  padding: 0% 15%;
}

.icon-color {
  font-size: 65px;
  color: #ef8172;
}

.icon-color:hover {
  font-size: 65px;
  color: #ff4c68;
}

#features {
  padding: 9% 15%;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

/* press section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
