body {
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}

/* Title section */
.title-image {
  width: 17%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

@media (max-width: 990px)  {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
    margin-top: 20px;
  }
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Sectiona */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-regular"
}

/* Download Buttons */

.btn {
  font-family: "Montserrat-light", sans-serif;
}

.Download-button {
  margin-top: 3%;
  margin-right: 3%;
}

/* features-section */

.features-heading {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

.features-subheading {
  color: #8f8f8f;
  font-family: "Ubuntu";
  padding: 0% 15%;
}

.icon-color {
  font-size: 65px;
  color: #ef8172;
}

.icon-color:hover {
  font-size: 65px;
  color: #ff4c68;
}

#features {
  padding: 9% 15%;
  position: relative;
  z-index: 1;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  font-weight: normal;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

/* press section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* cta section */
#cta {
  text-align: center;
}

.cta-headline {
  padding-top: 50px;
}

.cta-button {
  margin: 20px 20px 80px 0;
}

/* footer section */

#footer {
  text-align: center;
}

.footer-paragraph {
  font-size: 10px;
  color: #B2B1B9
}

.footer-icon {
  padding-top: 80px;
}
